body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.Header{
  position: absolute;
  text-align: left;
  top: 0;
  width: 90%;
  height: 15%;
  padding: 0 5%;
  background-color: #888;
  color: #FFF;
}

.Color{
  position: absolute;
  z-index: 5;
  top: 25%;
  bottom: 25%;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 50%;
  background-color: #AAA;
}

.GUI{
  position: absolute;
  z-index: 10;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 60%;
  background-color: #000;
}

.Footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #555;
  color: #FFF;
}
